
@using az_204_test.Models;

@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Employee Listing";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Team Employees</h1>
   <div>
       <P></P>
       <table>
           <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Date of Birth</th>
            <th>Years of Experience</th>
           </thead>
           <tbody>

                @foreach (var employee in Model)
                    {
                        <tr>
                        <td>@employee.Id</td>
                        <td>@employee.FullName</td>
                        <td>@employee.Designation</td>
                        <td>@employee.DateOfBirth</td>
                        <td>@employee.YearsExperienced</td>
                        </tr>
                    }

           </tbody>
       </table>
   </div>
</div>
